$dark-green-color: #627254;
$main-green-color: #76885B;
$dark-light-color: #DDDDDD;
$main-light-color: #EEEEEE;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-light-color;
  height: 5vh;
  width: 76%;
  border-radius: 5px;
  padding: 5px 2%;
  margin: 5px 0;
  color: $dark-green-color;
}

.header_text {
  font-weight: 100;
  color: $dark-green-color;
}

@media screen and (max-width: 1024px) {
  .header{
    width: 85%;
  }
}