$dark-green-color: #627254;
$main-green-color: #76885B;
$dark-light-color: #DDDDDD;
$main-light-color: #EEEEEE;

.grid_container {
  display: grid;
  align-items: center;
  border-radius: 5px;
  margin: 5px 0;
  height: fit-content;
  background-color: $main-light-color;
}

.grid_container_overflow {
  height: 70vh;
  overflow-y: scroll;
}

.grid_item {
  color: $dark-green-color;
  background-color: $main-light-color;
  border: none;
  width: 40%;
  text-align: center;
  outline-color: $main-green-color;
  height: 30px;
}

.grid_item:hover {
  background-color: $dark-light-color;
}

.grid_row {
  display: flex;
  border-bottom: 2px solid $dark-light-color;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.grid_row:first-child, .grid_row:first-child .grid_item{
  background-color: $dark-light-color;
  border-radius: 5px 5px 0 0
}

.grid_row:last-child {
  border-bottom: none;
}

// @media only screen and (max-width: 1024px) {
//   .grid_container_overflow {
//     height: 25vh;
//   }
// }

// @media only screen and (max-width: 768px) { 
//   .grid_container_overflow {
//     height: 30vh;
//   }
// }

// @media only screen and (max-width: 380px) { 
//   .grid_container_overflow {
//     height: 40vh;
//   }
// }