$dark-green-color: #627254;
$main-green-color: #76885B;
$dark-light-color: #DDDDDD;
$main-light-color: #EEEEEE;

.error_message {
  margin: 0 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-green-color;
}

.main_container {
  font-family: monospace;
  width: 80%;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.date_container {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.data_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}